bin/
conf/
logs/
sessions/
tmp/
node_modules/
var/
!var/cache/.keepme
vendor/
phpunit.xml
.idea/workspace.xml
.idea/encodings.xml
.idea/jsLinters/
.idea/modules.xml
.idea/inspectionProfiles/
.idea/copyright/
.idea/scopes/
.idea/vcs.xml
.idea/watcherTasks.xml
.idea/jsLibraryMappings.xml
.idea/*.iml
.idea/libraries
.bowerrc
